* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

content {
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #B6FF00;
    padding: 2%;
    position: relative;
}

/* ----- Hamburger Button ----- */
#menu {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: #6A01FE;
    color: #B6FF00;
}

#menu::before {
    content: '☰';
}

#menu.open::before {
    content: '✖';
}

.navigation {
    display: none;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #6A01FE;
    padding: 2%;
    font-size: larger;
}

.open {
    display: block;
}

/* ----- Hover Styles ----- */
.navigation a:hover {
    color: #B6FF00;
    background-color: #6A01FE;
}

.active::before {
    content: "* ";
}

.active::after {
    content: " *";
}

/* ----- Home Image Styles ----- */
#hero,
.info-grid {
    display: block;
    height: auto;
}

#hero-img {
    max-width: 100%;
    height: auto;
}

#hero-msg {
    color: #B6FF00;
    padding: 2%;
    text-align: center;
    text-shadow: 5px 5px 10px #6A01FE;
}

.home-motto {
    color: #B6FF00;
    margin-top: 10px;
    font-size: 2em;
}

/* ----- Main Styles ----- */


/* -----Footer Styles ----- */
footer {
    background-color: #B6FF00;
    padding: 2%;
}

footer img {
    width: 20%;
    height: auto;
}