/* @import url('https://fonts.googleapis.com/css2?family=Titan+One&family=Underdog&display=swap'); */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: 'Underdog', sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    text-align: center;
    font-weight: bolder;
    /* background-color: rgb(183, 255, 0, .1); */
    /* background-color: #6A01FE; */
}

content {
    margin: 0 auto;
}

/* ----- Header ----- */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #CBCFF3;
    padding: 1%;
    position: relative;
}

#logo-link {
    width: 200px;
    height: auto;
    margin: 2%;
}

#logo-link:hover {
    transform: scale(1.1);
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
}

/* ----- Hamburger Button ----- */
#menu {
    position: absolute;
    top: 8%;
    right: 3%;
    background-color: #CBCFF3;
    color: #25450D;
    border: 3px ridge #25450D;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
}

#menu:hover {
    transform: scale(1.1);
}

#menu::before {
    content: '☰';
}

#menu.open::before {
    content: '✖';
}

/* ----- Navigation ----- */
.navigation {
    display: none;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #25450D;
    padding: 2%;
    font-size: larger;
}

.open {
    display: block;
}

/* ----- Hover Styles ----- */
.navigation a:hover {
    color: #CBCFF3;
    background-color: #25450D;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
}

.active::before {
    content: "*";
}

.active::after {
    content: "*";
}

/* ----- Home Image Styles ----- */
#hero,
.info-grid {
    display: block;
    height: auto;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 5%;
    color: #25450D;
    padding: 1%;
    text-align: center;
    font-size: 1.3em;
}

#hero-msg h1,
#hero-msg p {
    background-color: rgb(179, 183, 219, .7);
    border-radius: 50px;
    padding: 2%;
}

#hero-msg p {
    display: none;
}

#hero-img {
    max-width: 100%;
    height: auto;
}

.button-box a {
    text-decoration: none;
    background-color: #CBCFF3;
    color: #25450D;
    padding: 1%;
    border: 3px ridge #25450D;
    border-radius: 15px;
}

.button-box a:hover {
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
}

.button-box:hover {
    transform: scale(1.1);
}

/* ----- Main Styles ----- */
.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10% auto;
    width: 90%;
    gap: 5%;
}

.info-grid section {
    border: 10px ridge #25450D;
    background-color: #CBCFF3;
    color: #25450D;
    border-radius: 25px;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 10px ridge #25450D;
}

.icon {
    width: auto;
    height: 80px;
    margin-top: 2%;
}

.icon:hover {
    transform: scale(1.3);
    box-shadow: 2px 3px 3px 1px #25450D;
    border-radius: 15px;
}

/* -----Footer Styles ----- */
footer {
    background-color: #CBCFF3;
    padding: 2%;
    margin-top: 60%;
    color: #25450D;
}

footer a {
    text-decoration: none;
    color: #25450D;
}

#resources::before {
    content: "📃 ";
}

.social-media {
    width: auto;
    height: 50px;
}

.social-media:hover {
    transform: scale(1.1);
}

footer img {
    width: 20%;
    height: auto;
}