* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 15px;
    text-align: center;
    background-color: rgb(183, 255, 0, .1);
}

content {
    margin: 0 auto;
}

/* ----- Header ----- */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #B6FF00;
    padding: 2%;
    position: relative;
}

/* ----- Hamburger Button ----- */
#menu {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: #6A01FE;
    color: #B6FF00;
}

#menu:hover {
    transform: scale(1.1);
}

#menu::before {
    content: '☰';
}

#menu.open::before {
    content: '✖';
}

/* ----- Navigation ----- */
.navigation {
    display: none;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #6A01FE;
    padding: 2%;
    font-size: larger;
}

.open {
    display: block;
}

/* ----- Hover Styles ----- */
.navigation a:hover {
    color: #B6FF00;
    background-color: #6A01FE;
}

.active::before {
    content: "* ";
}

.active::after {
    content: " *";
}

/* ----- Home Image Styles ----- */
#hero,
.info-grid {
    display: block;
    height: auto;
}

#hero {
    display: grid;
    grid-template-columns: 1 fr 4fr 1fr;
}

#hero-box {
    grid-column: 1/5;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/4;
    grid-row: 2/3;
    margin-bottom: 5%;
    color: #B6FF00;
    padding: 2%;
    text-align: center;
    font-size: 2em;
    text-shadow: 3px 3px 3px #6A01FE;
}

#hero-msg p {
    display: none;
}

#hero-img {
    max-width: 100%;
    height: auto;
}

.button-box a {
    text-decoration: none;
    background-color: #6A01FE;
    color: #B6FF00;
    padding: 3%;
    border-radius: 15px;
}

.button-box a:hover {
    box-shadow: 0 3px 3px 0 #B6FF00, 0 3px 3px 0 #B6FF00;

}

/* ----- Main Styles ----- */
.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10% auto;
    width: 90%;
    gap: 5%;
}

.info-grid section {
    border: 10px ridge #6A01FE;
    background-color: #B6FF00;
    color: #6A01FE;
    border-radius: 25px;
    box-shadow: 0 3px 3px 0 #B6FF00, 0 3px 3px 0 #B6FF00;

}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0px 0px;
}

.icon {
    width: auto;
    height: 60px;
}



/* -----Footer Styles ----- */
footer {
    background-color: #B6FF00;
    padding: 2%;
    margin-top: 60%;
}

.social-media {
    width: auto;
    height: 50px;
}

footer img {
    width: 20%;
    height: auto;
}