@media only screen and (min-width: 40em) {

    body {
        font-size: 13px;
    }

    header {
        display: grid;
        grid-template-columns: repeat(1fr, 6);
        align-items: center;
    }

    #logo-link {
        width: 125px;
        height: auto;
        grid-column: 1/3;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        grid-column: 3/7;
    }

    #menu {
        display: none;
    }

    .info-grid {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        margin-top: 8%;
    }


}