@import url('https://fonts.googleapis.com/css2?family=Arima&family=Young+Serif&display=swap');

body {
    margin: 0 auto;
    padding: 3em;
    text-align: center;
    font-size: 2vw;
    background-color: whitesmoke;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

h1,
h2,
h3,
h4 {
    font-family: "Young Serif";
}

h2 {
    text-align: center;
}

hr {
    height: 4px;
    margin: 35px 0;
    background: #547AA5;
}

header {
    padding: 1em;
    text-align: center;
    color: #474044;
    background-color: #50d8d7;
}

header>h1,
header>h2 {
    color: #474044;
}

p {
    font-family: "Arima";
    /* color: ; */
    padding: 1em;
}

.logo {
    max-width: 200px;
}

main h2,
main h3,
main h4 {
    color: #474044;
}

.colors {
    width: 100%;
    min-width: 300px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: rgb(226, 224, 224);
    color: #293132;
}

.color td {
    width: 20%;
    height: 3em;
    color: whitesmoke;
}

.primary {
    background-color: #50d8d7;
    color: whitesmoke;
}

.secondary {
    background-color: #474044;
    color: whitesmoke;
}

.accent1 {
    background-color: #293132;
    color: whitesmoke;
}

.accent2 {
    background-color: #4F5165;
    color: whitesmoke;
}

.accent3 {
    background-color: #547AA5;
    color: whitesmoke;
}

p.colored {
    background-color: #4F5165;
    color: #50d8d7;
}

nav {
    background-color: #50d8d7;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    /* min-width: 100px; */
    text-decoration: none;
    padding: 10px;
}

nav a:link,
nav a:visited {
    color: #474044;
}

nav a:hover {
    color: #293132;
    background-color: #547AA5;
}