@import url('https://fonts.googleapis.com/css2?family=Arima&family=Young+Serif&display=swap');

:root {

    /* colors from palette */
    --primary-color: #50d8d7;
    --secondary-color: #474044;
    --accent1-color: #293132;
    --accent2-color: #4F5165;
    --accent3-color: #547AA5;

    /* chosen font(s) */
    --heading-font: "Young Serif";
    --paragraph-font: "Arima", sans-serif;

    --border-color: #293132;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 2.1vw;
    background-color: whitesmoke;
}

header {
    display: flex;
    flex-direction: row;
    column-gap: 8%;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-bottom: 3px ridge var(--accent1-color);
    text-shadow: 1px 1px var(--accent3-color);
}

h1,
h2,
h3,
h4 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

#logo {
    max-width: 10%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    background-color: var(--secondary-color);
}

#menu {
    border: 2px ridge var(--accent3-color);
    background-color: var(--accent2-color);
    color: var(--primary-color);
    font-size: .7rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: 0 .2rem;
}

#menu::before {
    content: '☰';
}

#menu.open::before {
    content: '✖';
}

nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: .5rem;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

ul a {
    color: var(--primary-color);
    padding-right: 1%;
    padding-left: 1%;
}

ul a:hover {
    color: var(--accent1-color);
    background-color: var(--accent3-color);
}

.active::before {
    content: "* ";
}

.active::after {
    content: " *";
}

main {
    display: block;
    align-items: center;
    margin: auto;
    text-align: center;
    max-width: 95%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .3%;
}

.card {
    border: 3px ridge var(--border-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 12px 0 rgba(0, 0, 0, 0.3);
}

.card h4 {
    color: var(--primary-color);
}

div #downtown #city {
    max-width: 90%;
    border: 2px ridge var(--accent3-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 12px 0 rgba(0, 0, 0, 0.3);
}

#downtown h4 {
    color: var(--secondary-color);
}

#downtown p {
    background-color: var(--accent2-color);
    border: 2px ridge var(--accent3-color);
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    color: var(--primary-color);
}

#highlights {
    color: var(--primary-color);
    padding: 1%;
}

#highlights #businesses {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

#businesses section {
    border: 2px ridge var(--accent3-color);
    background-color: var(--accent1-color);
}

#events {
    color: var(--primary-color);
    padding: 1%;
}

#events #eventCard {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

#eventCard section {
    border: 2px ridge var(--secondary-color);
    background-color: var(--accent3-color);
    text-shadow: 1px 1px var(--secondary-color);
}

#temp {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#temp h3 {
    color: var(--primary-color);
}

footer {
    font-weight: bold;
    margin-top: 1%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    border-top: 3px ridge var(--border-color);
}

#map {
    max-width: 60px;
    max-height: 40px;
    justify-self: center;
}