@media only screen and (min-width: 60em) {

    /* body styles */
    content {
        max-width: 1600px;
    }

    body {
        font-size: 1.0vw;
    }


    /* header styles */
    header div {
        grid-template-columns: 1fr 7 1fr;
    }

    #darkMode {
        margin: 0 35% 0 35%;
    }


    /* main section styles */
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .container #events {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .container #downtown {
        grid-column: 2/6;
        grid-row: 1/3;
    }

}