@media only screen and (min-width: 60em) {

    /* body styles */
    content {
        max-width: 1600px;
    }

    body {
        font-size: 1.5vw;
    }


    /* header styles */
    header div {
        grid-template-columns: 1fr 7fr 1fr;
    }

    /* main section styles */

    .sizelabel p::after {
        content: "Large";
    }

    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .container #events {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .container #downtown {
        grid-column: 2/6;
        grid-row: 1/3;
    }

    #to-do {
        height: fit-content;
        font-size: 2.0vw;
    }

    /* footer styles */
    footer {
        margin-top: 1%;
    }
}