@media only screen and (min-width: 35em) {

    /* body styles */
    body {
        font-size: 2.1vw;
    }


    /* header styles */
    header div {
        grid-template-columns: 1fr 5fr 1fr;
    }


    /* navigation styles */
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        border-bottom: 3px ridge #547AA5;
    }

    .navigation li {
        display: block;
        justify-content: center;
        flex: 1 1 100%;
        margin: 0;
    }


    /* main section styles */
    main {
        padding-bottom: 2%;
    }

    .sizelabel p::after {
        content: "Medium";
    }

    .container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }

    .discovery {
        grid-template-columns: 2fr 1fr;
    }

    /* footer styles */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #map {
        max-width: 100px;
        max-height: 60px;
        justify-self: center;
    }

}