* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: coral;
    background-color: black;
}

h1 {
    text-align: center;
}

main {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
    background-color: black;
    animation: fade 5s;
}

footer {
    text-align: center;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}