@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    box-sizing: border-box;
}

content {
    margin: 0 auto;
}

body {
    font-family: 'Mooli', sans-serif;
    font-size: 2.0vw;
    margin: 0;
    padding: 0;
    color: #E4EBDB;
    background-color: whitesmoke;
    text-shadow: 2px 1px rgb(96, 25, 25);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    background-color: #3A4C64;
}

h1 {
    padding: 2rem;
}

#photo {
    width: 10%;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav {
    background-color: rgb(92, 106, 99);
    margin: 0 auto;
    padding: 2%;
}


nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

ul a {
    color: #E4EBDB;
    padding-right: 1%;
    padding-left: 1%;
}

ul a:hover {
    color: black;
}

main {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 90%;
}

h2 {
    border-bottom: 1px solid rgb(9, 8, 8, .75);
    color: rgb(9, 8, 8, .6);
}


h3 {
    background-color: rgb(9, 8, 8, .3);
    padding: 10px;
    margin: 0%;
    border-radius: .5em .5em 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div ul a {
    color: rgb(9, 8, 8);
}

.card {
    margin-bottom: 2rem;
    background-color: #d4d1ce;
    color: rgb(9, 8, 8);
    text-shadow: 1px 1px #E4EBDB;
    border: 2px solid black;
    border-radius: .5em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 12px 0 rgba(0, 0, 0, 0.3)
}

#lessons {
    text-align: left;
    padding: 2%;
}

#info {
    padding: 1%;
}

footer {
    background-color: rgb(63, 76, 96);
    padding: 3%;
    text-align: center;
}

#flag {
    width: 10%;
}