@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

/* starting overall sytle codes */
* {
    box-sizing: border-box;
}

content {
    margin: 0 auto;
}

body {
    font-family: 'Mooli', sans-serif;
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
    color: #fdfffa;
    background-color: whitesmoke;
}


/* header section styles */
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 2%;
    background-color: #3A4C64;
}

h1 {
    margin: 0;
    align-self: center;
    justify-self: center;
}

#photo {
    max-width: 100%;
    height: auto;
    float: right;
}

/* hamburger button styles in header */
.beginning {
    position: relative;
}

#menu {
    border: 1px solid #fdfffa;
    background-color: rgb(78, 92, 85);
    color: #fdfffa;
    font-size: 1rem;
    position: absolute;
    top: 12%;
    right: 2%;
}

#menu::before {
    content: '☰';
}

#menu.open::before {
    content: '✖';
}


/* navigation styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgb(78, 92, 85);
    margin: 0 auto;
}

nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: .5rem;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-shadow: .5px .5px rgb(9, 8, 8);

}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

ul a {
    color: #fdfffa;
    text-shadow: .5px .5px rgb(9, 8, 8);
    padding-right: 1%;
    padding-left: 1%;
}

ul a:hover {
    color: rgb(9, 8, 8);
    text-shadow: 1px 1px rgb(96, 25, 25);
}

.active {
    border: 1px solid #fdfffa;
}


/* main section styles */
main {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 90%;
}

/* temple styles */
.hero {
    position: relative;
}

.hero picture {
    width: 100%;
    height: auto;
}

.herolabel {
    position: absolute;
    top: 1%;
    right: 1%;
    background: rgb(248, 129, 93, .75);
    color: rgb(9, 8, 8);
    padding: 1%;
    border-radius: .5em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 12px 0 rgba(0, 0, 0, 0.3);
}

.temple {
    max-width: 100%;
    height: auto;
}

/* main section heading */
h2 {
    border-bottom: 1px solid rgb(9, 8, 8, .75);
    color: rgb(9, 8, 8);
}

/* container headings */
h3 {
    background-color: #b9b6b2;
    padding: 10px;
    margin: 0%;
    border-radius: .5em .5em 0 0;
}

/* container styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
}

div ul a {
    color: black;
}

ul a:hover {
    color: rgb(9, 8, 8);
    text-shadow: 1px 1px rgb(96, 25, 25);
}

.card {
    margin-bottom: 2rem;
    background-color: #d4d1ce;
    color: black;
    border: 2px solid black;
    border-radius: .5em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 12px 0 rgba(0, 0, 0, 0.3);
}

#card1 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#card2 h4 {
    padding: 1%;
}

.lessons {
    text-align: left;
    margin-left: 1%;
}

.lesson {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: .5em;
}

#info {
    padding: 1%;
}

/* map styles */
#map {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 90%;
    max-height: 200px;
    border: 2px solid black;
    border-radius: .5em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 12px 0 rgba(0, 0, 0, 0.3);
}

/* footer styles */
footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 2%;
    background-color: rgb(63, 76, 96);
    padding: 3%;
    align-items: center;
    justify-items: center;
}

#copywright {
    align-items: center;
    justify-items: center;
}

#lastModified {
    grid-column: 1/5;
}

#flag {
    max-width: 100%;
    height: auto;
}